$gradient: variable-name('gradient');
// $body-bg: variable-name('body-bg');
$body-color: variable-name('body-color');
$link-color: variable-name('link-color');
$link-hover-color: variable-name('link-hover-color');
