/* @import '../../styles/propertySets.css'; */

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

/* Shared animation rules */
.animation {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
}

.root {
  /* Gradient direction and overlaying the black color on top of the image for better readability */
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./property.jpg');
  /* Add loading color for the div */

  background-size: cover;

  background-position: center center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* Text positioning is done with paddings */
  padding: 100px 0;
}

.heroContent {
  margin: 0 24px 0 24px;

  /* @media (--viewportMedium) {
    margin: 0 7.5vw 0 7.5vw;
  } */

  /* Special viewport for adjusting the heroContent's placement */

  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    padding: 0 36px 0 36px;
  }

  @media only screen and (min-width: 1367px) {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 0 36px 0 36px;
  }
}

.heroMainTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -0.7px;
  /* margin-top + n * line-height + margin-bottom => x * 6px */
  margin-top: 50px;
  margin-bottom: 14px;
  color: #ffffff;
  @media screen and (min-width: 998px) {
    /* font-size: 115px; */
    font-size: calc(3rem + 3.6vw);
    line-height: 64px;
    letter-spacing: -1.5px;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 25px;
    margin-bottom: 55px;
  }
  text-align: center;
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
  animation-delay: 0.5s;
}

.heroSubTitle {
  font-size: calc(1rem + 0.8vw);
  font-weight: 400;
  letter-spacing: 8px;
  /* color: var(--matterColorLight); */
  margin: 0 0 32px 0;
  text-align: center;
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
  animation-delay: 0.65s;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 998px) {
    margin: 0 0 47px 0;
  }
  @media screen and (max-width: 767px) {
    letter-spacing: 4px;
  }
  position: relative;
}
.heroSubTitle span {
  width: 76px;
  height: 2px;
  background: #fff;
  margin: 0 30px;
  @media screen and (max-width: 767px) {
    width: 40px;
    margin: 0 5px;
  }
}
.heroButton {
  /* @apply --marketplaceButtonStyles; */
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
  animation-delay: 0.8s;
  background-image: linear-gradient(to right, #ff5e8c, #ff9d6d);
  font-size: 29px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  border-radius: 50px;
  @media screen and (min-width: 998px) {
    width: 250px;
    min-height: 75px;
  }
  @media screen and (max-width: 767px) {
    width: 220px;
    min-height: 60px;
    font-size: 24px;
  }
  @media screen and (max-width: 520px) {
    width: 200px;
    max-height: 40px;
    font-size: 22px;
    min-height: 50px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}

/* search flter */
.FilterAreaColumn {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 145px;
}
.SearchIcon {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
  animation-delay: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  /* box-shadow: -3px -1px 12px rgba(0, 0 ,0,  16%); */
  position: relative;
  height: 31px;
  width: 31px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  background: #fff;
  z-index: 1;
}
.SearchIcon svg {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 20px;
  cursor: pointer;
}
.filterArea {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
  animation-delay: 1s;
  box-shadow: -3px 2px 7px 0px rgba(78, 70, 70, 16%);
  display: flex;
  align-items: center;
  padding: 12px 35px 12px 35px;
  border-radius: 10px;
  height: 75px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding-left: 30px;
  margin-right: -14px;
  border-right: none;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background-image: -webkit-radial-gradient(
    100% 50%,
    circle closest-corner,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 19px,
    #efefef 2px,
    #fff 22px
  );
}
input {
  &:focus {
    outline: none;
  }
}
