.heading_title_1 {
  text-align: center;
  margin: 30px 0;
  h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
  }
  p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    color: #666363;
  }
}
