.info-Primary {
  background-color: #1cc7c1;
}
.info-dark {
  background-color: #3a4156;
}
.info-container {
  height: 100px;
  padding: 30px;
}
.info-card {
  padding: 0 0px;
}
.info-icon {
  font-size: 3rem;
}
